<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Dartboard.Dartboard" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25" />
	<application android:label="Dartboard">
		<activity android:name=".CreateName" android:theme="@style/DartsAppStyle"></activity>
		<activity android:name=".Main" android:theme="@style/DartsAppStyle"></activity>
	</application>
	<application android:largeHeap="true"></application>
</manifest>